*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 53px;
    color:#70af85;
}
h2,h3{
    font-family: 'Merriweather', serif;
    margin: 20px;
    color:#70af85;


}
p{
    font-size: 18px;
    font-weight: 300px;
    font-family: 'Merriweather', serif;
    margin: 20px;
}
.top{
    background-color: #e4f9f5;
}
.cloud{
    padding: 20px;
}

#cloud-1{
    position: relative;
    left: 200px;
}
#cloud-2{
    position: relative;
    right: 200px;
}
.profile-pic{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 110px;

}
.comp{
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 155px;
}
.skill-row{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
}
.btn{
    background-color: #0d7377;
    color: white;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
}
.btn:hover{
    background-color: turquoise;
}